body {
       font-family: Helvetica, Arial, sans-serif;
       font-size: 12px;
       margin-left: 5%;
     }


.op{
  margin-top: 3px;
}


h1{
  margin-top: 70px;
  font-size: 50px;
}

h2{
  margin-top: 70px;
  font-size: 25px;
  border-bottom: 1px solid black;
  width: 95%;
  padding-bottom: 5px;

}

b{
  font-size: 14px;
}


.Primærefarver, .sekundærefarver{
  margin-top: 50px;
}



.farvekode1{
  height: 55px;
  width: 120px;
  background-color: #c4b298;
}

.farvekode2{
  height: 55px;
  width: 120px;
  background-color: #710000;
}

.farvekode3{
  height: 40px;
  width: 90px;
  background-color: #2D314E;

}

.farvekode4{
  height: 40px;
  width: 90px;
  background-color: #667A29;
}




.overskrift{
 margin-top: 80px;
}





/*Skrifttyper*/


#augusta{
  font-family: augusta;
  font-size: 40px;
  margin-top: 50px;
  margin-bottom: 0px;
}


#helveticat{
  font-family: Helvetica, Arial, sans-serif;
  font-size: 40px;
  margin-top: 50px;
  margin-bottom: 0px;
}


#montserrat{
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  margin-top: 50px;
  margin-bottom: 0px;
}







/*menu*/
header{
  height: 60px;
  background-color: #c4b298;
  right: 0;
  left: 0;
  top: 0;
}

.bgc{
  background-color:  #c4b298;
  height: 60px;
  width: 100%;
  margin-bottom: 150px;
}

.dropdown button{
border: none;
margin-top: 10px;
}

.empty2{
 width: 10%;
 background-color: transparent;
 display: block;
}

 .logo{
   display: flex;
   justify-content: center;
   position: absolute;
   width: 100%;
   z-index: 1;
}

 .banner{
   width: 135px;
 }

  nav {
    position: absolute;
    display: flex;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    z-index: 2;
  }

  nav a {
    display: block;
    background-color: #c4b298;
    color: #710000;
    margin: 20px 20px 0px 20px;
    height: 40px;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    letter-spacing: 1.3pt;
  }
